body {
    background-color: #A5C7CE;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-size: 48px;
}

input {
    display: block;
    font-family: Arial;
    border-radius: 10px;
    border: 1px solid #000;
    width: 347px;
    height: 32px;
    font-size: 16px;
    font-family: Arial;
}

label {
    display: block;
    font-weight: bold;
    font-family: Arial;
    font-size: 24px;
    margin-bottom: 5px;
}

label:after {
    content: "";
}

.inputBox {
    margin: auto;
    margin-top: 15px;
    width: 25%; /* this is a problem for mobile */
}

.inputBox p {
    font-size: 12px;
    margin-top: 0;
    font-style: normal;
    font-weight: 600;
    /*text-align: right;
    margin-right: 25px;*/
}

.registerBtn {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #000;
    width: 200px;
    height: 48px;
}

.registerBtn:hover {
    cursor: pointer;
    background-color: #C0C0C0;
}

.dropdown {
    text-align: left;
}

.dropdown:hover {
    cursor: pointer;
}

.ddTriangle { /* leaving out for now */
    margin-top: 3px;
}

.accType {
    position: relative;
    display: inline-block;
}

.options {
    display: none;
    position: absolute; /* new, probably won't do anything */
}

.options p:hover {
    background-color: gray; /* placeholder */
}